## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

## Konfigūraciniai failai, kurių nereikia Git'e
launch.json
appsettings.Development.json

## Mac / Windows / Linux OS failai
.DS_Store
Thumbs.db
