## .NET
bin/
obj/ 
*.dll
*.exe
*.userosscache
*.sln.docstates 
*.pdb
*.cache
*.deps.json

## VS Code
.vscode/ 
*.user
*.suo

## NuGet
*.nupkg
*.snupkg
packages/
*.nuspec 
*.psmdcp   

# SPA proxy (lokalus kelias ir konfigas)
spa.proxy.json

# NuGet automatiniai failai
*.nuget.g.props
*.nuget.g.targets

# Visual Studio cache files
*.cache
*.config
*.suo
*.user
*.userosscache
*.sln.docstates

## Konfigūraciniai failai, kurių nereikia Git'e
launch.json
appsettings.Development.json 
*.assets.json
*.nuget.cache

## Mac / Windows / Linux OS failai
.DS_Store
Thumbs.db

### FrontEnd failai ###
skvs.client/.DS_*
skvs.client/*.log
skvs.client/logs
skvs.client/**/*.backup.*
skvs.client/**/*.back.*

skvs.client/node_modules
skvs.client/bower_components

skvs.client/*.sublime*

skvs.client/psd
skvs.client/thumb
skvs.client/sketch
