## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## NuGet
*.nupkg
*.snupkg
packages/
*.nuspec 
*.psmdcp  

# NuGet automatiniai failai
*.nuget.g.props
*.nuget.g.targets

# Visual Studio cache files
*.cache
*.config
*.suo
*.user
*.userosscache
*.sln.docstates

## Konfigūraciniai failai, kurių nereikia Git'e
launch.json
appsettings.Development.json 
*.assets.json
*.nuget.cache

## Mac / Windows / Linux OS failai
.DS_Store
Thumbs.db
